<!-- extend base layout -->
{% extends "base.html" %} {% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Smart daltonism test</h1>
            <figure class="figure">
                <img src="static/test_images/hqdefault.jpg" class="figure-img img-fluid rounded" alt="Test image" width="500" height="500">
                <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
            </figure>
            <p class="lead text-muted">
                Info o daltonizmie i że test działa jakoś tam <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut sollicitudin erat. Nullam at est in ligula pulvinar hendrerit. In molestie, nisi in posuere finibus, mauris nisi molestie
                elit, vel molestie felis justo tincidunt magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec faucibus aliquam nisi, eu porttitor eros semper nec. Nunc tristique aliquet fringilla. Fusce convallis
                tristique nisl, sed efficitur odio aliquam a. Etiam sodales justo at justo condimentum iaculis. Duis quis purus turpis. Quisque cursus, lorem sed accumsan porttitor, velit libero consectetur sapien, sed iaculis urna nulla quis risus. In
                consectetur, dui a rutrum auctor, tortor orci congue orci, ut scelerisque odio nulla sed diam. Suspendisse eget tortor viverra, consectetur nisi eu, ultrices est.</p>
            <p>
                <form action="/start_test/" method="post">
                    <button class="btn btn-primary my-2" name="forwardBtn" type="submit">Do a test</button>
                </form>
                <!-- <a href="/do_testing" class="btn btn-primary my-2" role="button">Do a test</a> -->
            </p>
        </div>
    </section>

</main>


{% endblock %}