<!-- extend base layout -->
{% extends "base.html" %} {% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Information</h1>
            <p class="lead text-muted">
                This site was created for the purpose of university course. The outcome of this test is provided for information purposes only and should not be considered as a diagnosis.
            </p>
            <h1 class="jumbotron-heading">Contact</h1>
            <p class="lead text-muted">
                I you have any questions please feel free to contact us via e-mail: kaurbanek@student.agh.edu.pl
            </p>
            <p>
                <form action="/start_test/" method="post">
                    <button class="btn btn-primary my-2" name="forwardBtn" type="submit">Do a test</button>
                </form>
                <!-- <a href="/do_testing" class="btn btn-primary my-2" role="button">Do a test</a> -->
            </p>
        </div>
    </section>

</main>


{% endblock %}