<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Raw data</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>unique_user_id</th>
        <th>number of task</th>
        <th>answer</th>
        <th>time</th>
    </tr>
    </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.unique_user_id }}</td>
        <td>{{ element.no_task }}</td>
        <td>{{ element.solved }}</td>
        <td>{{ element.time }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}