<!-- extend base layout -->
{% extends "base.html" %} {% block content %}
<section class="jumbotron text-center">
    <div class="page-header">
        <h1>Daltonism test</h1>
    </div>

    <figure class="figure">
        <img src="static/test_images/Ishihara_2.svg" class="figure-img img-fluid rounded" alt="Test image">
        <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
    </figure>
    <form role="form" action="/save" method="post">
        <b>What number do you see?</b>
        <div class="form-group mb-auto">
            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
            <label class="btn btn-secondary answer-button mx-2" for="option1">21</label>

            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label class="btn btn-secondary answer-button mx-2" for="option2">5</label>

            <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
            <label class="btn btn-secondary answer-button mx-2" for="option3">74</label>

            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
            <label class="btn btn-secondary answer-button mx-2" for="option4">2</label>            
        </div>
        <button type="submit" class="btn btn-primary mt-2">Next</button>
    </form>



</section>



{% endblock %}